<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TipCalc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6830B8E21C2F20BF00D7CED2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6830B8F61C2F20BF00D7CED2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6830B9011C2F20BF00D7CED2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
